/* Define global variables */
:root {
    --accent-color: #448CC2;
    --font-family: Arial, sans-serif;
    --background-color: #121212;
    --text-color: #fff;
    --secondary-text-color: #aaa;
    --section-bg-color: #333;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header {
    text-align: center;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    font-size: 2em;
    color: var(--accent-color);
}

.header p {
    color: var(--secondary-text-color);
    margin: 0.5em 0;
}

.contact-btn {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
.section {
    max-width: 600px;
    width: 90%;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    border-top: 1px solid var(--section-bg-color);
}

.section h2 {
    color: var(--accent-color);
    margin-bottom: 0.5em;
}

/* Skills List */
.skills-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skills-list li {
    background-color: var(--section-bg-color);
    padding: 8px 15px;
    border-radius: 5px;
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.project {
    background-color: var(--section-bg-color);
    padding: 1em;
    border-radius: 5px;
}

.project a {
    color: var(--accent-color);
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project-card {
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card h3 {
    margin-top: 0.5em;
    color: var(--accent-color);
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.project-description {
    max-width: 80%;
}

/* Project Tags */
.tags {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    border: 1px solid var(--accent-color);
    color: var(--text-color);
    padding: 4px 10px;
    font-size: 0.9em;
    border-radius: 5px;
}

/* View More Button */
.view-more {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 1em;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.view-more:hover {
    background-color: #444;
}

.links {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

/* Experience */
.experience-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 2em;
}

.logo {
    max-width: 5rem;
    max-height: 5rem;
    margin-right: 1em;
    margin-top: 0.5em;
}

.experience-description {
    margin-left: 1em;
}

.experience .headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

/* Contact */
#contact a {
    color: var(--accent-color);
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    margin-top: 2em;
    text-align: center;
    padding: 1em;
    background-color: var(--section-bg-color);
    width: 100%;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .header h1 {
        font-size: 1.5em;
    }

    .section h2 {
        font-size: 1.2em;
    }
}
